/* .clear:before,
.clear:after {
  content: ' ';
  display: table;
} */

body {
  background-color: #202020;
  margin: 0;
}

nav, #side-nav {
  display: block;
}

.description h1, p {
  color: #fff;
}

#intro {
  text-align: center;
  color: #ffffff;
  padding-top: 120px;
  z-index: 2;
  position: relative;
}

#intro img {
  height: 500px;
  width: 400px;
}


/* =Navigation */
ul.navbar {
  position: fixed;
  left: 0;
  top: 5%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  z-index: 100;
}

.navbar a {
  display: block;
  line-height: 25px;
  position: relative;
  padding-right: 20px;
  color: #ffffff;
  text-decoration: none;
}

.navbar a:hover {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.navbar .nav-horizontal {
  display: block;
  width: auto;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  width: auto;
  list-style: none;
  display: inline-block;
}


/* The side navigation menu */
  /* #sidenav {
    display: none;
    position: fixed;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right;
    z-index: 100;
  }

  #sidenav a {
    display: block;
    line-height: 25px;
    position: relative;
    padding-right: 20px;
    color: #ffffff;
    text-decoration: none;
  }

  #sidenav a:hover .nav-label {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  
  #sidenav .nav-dot {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  #sidenav .nav-label {
    display: block;
    opacity: 0.5;
    visibility: hidden;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
    transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
  }

  #sidenav.is-dark a {
    color: #212121;
  }

  #sidenav.is-dark .nav-dot {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #sidenav.is-light a {
    color: #ffffff;
  }
  
  #sidenav.is-light .nav-dot {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  #sidenav ul {
    margin: 0;
    padding: 0;
  }
  
  #sidenav li {
    width: auto;
    list-style: none;
  } */


  /* =Navigation Dots */
#nav-dots {
  display: none;
  position: fixed;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
  z-index: 100;
}

#nav-dots a {
  display: block;
  line-height: 25px;
  position: relative;
  padding-right: 20px;
  color: #ffffff;
  text-decoration: none;
}

#nav-dots a:hover .nav-label {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

#nav-dots .nav-dot {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#nav-dots .nav-label {
  display: block;
  opacity: 0.5;
  visibility: hidden;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
  -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
  transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
}

#nav-dots.is-dark a {
  color: #212121;
}

#nav-dots.is-dark .nav-dot {
  background-color: rgba(0, 0, 0, 0.5);
}

#nav-dots.is-light a {
  color: #ffffff;
}

#nav-dots.is-light .nav-dot {
  background-color: rgba(255, 255, 255, 0.5);
}

#nav-dots ul {
  margin: 0;
  padding: 0;
}

#nav-dots li {
  width: auto;
  list-style: none;
}


/****** main content ******/

.main-content {
  margin: 0;
  width: 100%;
  text-align: center;
}

.wrapper, .slideInUp, .footer h1, h2, h3, p {
  color: #ffffff;
}

#slide01 {
  margin: 0 200px 0 200px;
  padding: 0 200px 0 200px;
  /* width: 50%; */
  align-items: center;
  text-align: center;
}

/* #slide01 .slideInUp  */
.wrapper{
  padding: 10px 0 20px 0;
}

/* #slide02 .slideInUp {
  margin: 5px 0;
} */

#slide02 {
  background-color: #FFFFFF;
  padding-bottom: 15px;
}

#slide02 h1, h2{
  color: #000000;
}

.icons h2 {
  color: #000000;
}

/* .icons {
  margin: 0;
  width: 100%;
} */

.icons img{
  padding: 10px 20px 0 20px;
}

#slide03 {
  margin: 0 100px 50px 100px;
  /* width: 80%; */
  align-items: center;
}

#slide03 img {
  display: block;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #E0E0E0;
}

.footer {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-top: 2px solid #E0E0E0;
  background-color: #202020;
}